.container {
    display: flex;
    padding: 30px 50px;
    flex-wrap: wrap;
}

.item {
    margin-block: 20px;
    flex: 1;
    border-left: 1px solid var(--secondary-color);
    border-radius: 23px;
}

.table {
    width: 100%;
    border-spacing: 0 20px;
    text-align: left;
}

.tr {
    background: #44557738;
}

.tr td p{
    min-width: max-content;
}

.id {
    font-size: 0.75em;
}

.imgContainer {
    display: flex;
}

.container button {
    color: white;
    background: var(--secondary-color);
}

.button {
    min-width: 79px;
    margin-block: 2px;
    padding: 15px 5px;
}

.button:first-child {
    background: teal;
    margin-right: 10px;
}

.stage {
    background: var(--secondary-color);
    padding: 15px 20px;
}

@media only screen and (max-width: 1024px) {
    .container button  {
        padding: 5px;
    }
}

@media only screen and (min-width: 890px) {
    .item + .item {
        margin-left: 30px;
    }
}