.container {
    padding: 4vmin;
    display: flex;
    min-height: calc(100vh - 100px);
    flex-wrap: wrap;
}

.left {
    flex: 3;
}

.right {
    flex: 1;
}

.container button {
    min-width: 200px;
}

.table {
    width: 100%;
    text-align: left;
    border-spacing: 0 20px;
}

.table td {
    padding: 0 5px;
}

.imgContainer {
    flex: 1;
    position: relative;
    width: 100px;
    height: 100px;
}

.name {
    font-size: 18px;
    color: var(--secondary-color);
    font-weight: 600;
}

.total {
    font-size: 18px;
    font-weight: 600;
}

.wrapper {
    width: 90%;
    max-height: 300px;
    background-color: #929292;
    filter: drop-shadow(0px 0px 5px #929292);
    border-radius: 8px;
    padding: 10px 50px 50px;
    margin: 20px 0 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.totalText{
    margin-top: 5px;
    display: flex;
    text-align: right;
}

.totalTextTitle {
    text-align: left;
    width: 100px;
    margin-right: 10px;
}

.paymentMethods {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.cashButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin-bottom: 5px;
    border-radius: 4px;
    font-weight: 600;
    color: teal;
    background: linear-gradient(to bottom, #f9f9f9, #e3e3e3);
    border: 1px solid #f2f2f2;
}

.button {
    margin-top: 20px;
    height: 30px;
    width: 100%;
    background: var(--btn-first-bg);
    border: var(--btn-first-border);
    color: var(--font-white);
}

@media only screen and (max-width: 955px) {
    .cashButton {
        padding: 10px;
    }
}

@media only screen and (max-width: 555px) {
    .container {
        padding: 2vmin;
        font-size: 12px;
    }
    .imgContainer {
        width: 60px;
        height: 60px;
    }
}