.container {
    position: static;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 200;
    animation: scale-in-hor-left 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) both;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 30%;  
    background-image: linear-gradient(to bottom, rgb(0, 0, 0),  #151515d8);
}

.list {
    margin: 0;
    position: sticky;
    background: #d4a37359;
    color: var(--secondary-color);
    width: 100%;
    height: 100%;
    list-style: none;  
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    z-index: 201;
    font-size: large;
}

.listItem {
    font-weight: 500;
    cursor: pointer;
}

.listItem:first-child {
    margin-top: 50px;
}

.cross {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    top: 40px;
    right: 50px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #0009;
}

@-webkit-keyframes scale-in-hor-left {
    0% {
    -webkit-transform: scaleX(0.5);
            transform: scaleX(0.5);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
    }
    100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
    }
}
@keyframes scale-in-hor-left {
    0% {
    -webkit-transform: scaleX(0.5);
            transform: scaleX(0.5);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
    }
    100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
    }
}