.container {
    padding: 50px;
    display: flex;
}

.left {
    flex: 2;
}

.right {
    flex: 1;
}

.table {
    text-align: left;
    width: 100%;
    border-spacing: 20px;
}

.row:last-child {
    margin-top: 50px;
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.row:last-child span {
    font-size: 13px;

}

.done {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inProgress  {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: progress 1s ease infinite alternate;
}
@keyframes progress {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.waiting  {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.2;
}

.undone .checkedIcon, .inProgress .checkedIcon {
    opacity: 0;
}

.total {
    font-size: 18px;
    font-weight: 600;
}

.wrapper {
    width: 90%;
    max-height: 300px;
    background-color: #454545;
    padding: 10px 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.totalText{
    margin-top: 5px;
    display: flex;
    text-align: right;
}

.totalTextTitle {
    text-align: left;
    width: 100px;
    margin-right: 10px;
}

.button {
    cursor: not-allowed;
    margin-top: 20px;
    height: 30px;
    width: 180px;
    font-weight: 600;
    background: white;
    color: teal;
}